
body{
    padding: 0;
    margin: 0;
}#head{
    text-align: center;
    background-color: rgb(252, 252, 252);
    margin: 0;
}
#head h1{ 
    margin: 0;

}
#head hr{
    margin-top: 0px;
    margin: 0px 655px;

}
#head h3{
    margin-top: -5px;
    color: rgb(209, 183, 141);
}
.image{
    text-align: center;
    padding: 50px;
    background-color: rgb(237, 227, 214)
}
.image img{
    border: 1px black solid;
    border-radius: 5px;
}
.image p{ color: rgb(187, 163, 123);
    margin: 7px 435px;

}
.fotter{
    text-align: center;
    background-color: rgb(252, 252, 252);
}
.list{
    text-align: left;
    margin: 0px 420px;
    color: rgb(162, 140, 105);
}